{% extends 'base/base.html' %} {% load static %} {% block content %}

<section class="ftco-section ftco-cart">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ftco-animate">
        <div class="cart-list">
          <form action="{% url 'update_cart' %}" method="post">
            {% csrf_token %}
            <table class="table">
              <thead class="thead-primary">
                <tr class="text-center">
                  <th>&nbsp;</th>
                  <th>&nbsp;</th>
                  <th>Product name</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                {% for item in cart_items %}
                <tr class="text-center">
                  <td class="product-remove">
                    <a href="{% url 'remove_from_cart' item.id %}"
                      ><span class="ion-ios-close"></span
                    ></a>
                  </td>
                  <td class="image-prod">
                    <div
                      class="img"
                      style="background-image:url({{ item.product.photo.url }});"
                    ></div>
                  </td>
                  <td class="product-name">
                    <h3>{{ item.product.name }}</h3>
                    <p>{{ item.product.details|truncatewords:10 }}</p>
                  </td>
                  <td class="price">ksh{{ item.product.price }}</td>
                  <td class="quantity">
                    <div class="input-group mb-3">
                      <input
                        type="number"
                        name="quantity_{{ item.id }}"
                        class="quantity form-control input-number"
                        value="{{ item.quantity|default:1 }}"
                        min="1"
                        max="{{ item.product.stock }}"
                      />
                    </div>
                  </td>
                  <td class="total">ksh{{ item.total_price|floatformat:2 }}</td>
                </tr>
                {% empty %}
                <tr>
                  <td colspan="6" class="text-center py-5">
                    <h4>Your cart is empty.</h4>
                    <p>
                      <a href="{% url 'shop' %}" class="btn btn-primary"
                        >Shop Now</a
                      >
                    </p>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <button type="submit" class="btn btn-info">Update Cart</button>
          </form>
        </div>
      </div>
    </div>
    <div class="row justify-content-end">
      <div class="col-lg-4 mt-5 cart-wrap ftco-animate">
        <div class="cart-total mb-3">
          <h3>Cart Totals</h3>
          <p class="d-flex">
            <span>Subtotal</span>
            <span>ksh{{ total_price|floatformat:2 }}</span>
          </p>
          <p class="d-flex">
            <span>Delivery</span>
            <span>ksh0.00</span>
          </p>
          <p class="d-flex">
            <span>Discount</span>
            <span>ksh0.00</span>
          </p>
          <hr />
          <p class="d-flex total-price">
            <span>Total</span>
            <span>ksh{{ total_price|floatformat:2 }}</span>
          </p>
        </div>
        <p>
          <a href="{% url 'checkout' %}" class="btn btn-primary py-3 px-4"
            >Proceed to Checkout</a
          >
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
