{% extends 'base/base.html' %} {% load static %} {% block title %} Home | Campus
Shoppy {% endblock title %} {% block content %}
<section id="home-section" class="hero">
  <div class="home-slider owl-carousel">
    <div
      class="slider-item"
      style="background-image: url({% static "images/happyMasenostudents.jpg" %})"
    >
      <div class="overlay"></div>
      <div class="container">
        <div
          class="row slider-text justify-content-center align-items-center"
          data-scrollax-parent="true"
        >
          <div class="col-md-12 ftco-animate text-center">
            <h1 class="mb-2">Welcome to Campus Shoppy</h1>
            <h2 class="subheading mb-4">
              We deliver to wherever you are Anytime,Anyplace. Create your
              account now!
            </h2>
            <p><a href="#" class="btn btn-primary">View Details</a></p>
          </div>
        </div>
      </div>
    </div>

    <div
      class="slider-item"
      style="
        background-image: url({% static "images/happy.jpg" %})
      "
    >
      <div class="overlay"></div>
      <div class="container">
        <div
          class="row slider-text justify-content-center align-items-center"
          data-scrollax-parent="true"
        >
          <div class="col-sm-12 ftco-animate text-center">
            <h1 class="mb-2">100% Quality Goods</h1>
            <h2 class="subheading mb-4">
              We deliver quality products to wherever you are. Create your
              account now!
            </h2>
            <p><a href="#" class="btn btn-primary">View Details</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section">
  <div class="container">
    <div class="row no-gutters ftco-services">
      <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services mb-md-0 mb-4">
          <div
            class="icon bg-color-1 active d-flex justify-content-center align-items-center mb-2"
          >
            <span class="flaticon-shipped"></span>
          </div>
          <div class="media-body">
            <h3 class="heading">Free Shipping</h3>
            <span>On order over 2000</span>
          </div>
        </div>
      </div>
      <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services mb-md-0 mb-4">
          <div
            class="icon bg-color-2 d-flex justify-content-center align-items-center mb-2"
          >
            <span class="flaticon-diet"></span>
          </div>
          <div class="media-body">
            <h3 class="heading">Quality goods</h3>
            <span>Product always on good Quality</span>
          </div>
        </div>
      </div>
      <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services mb-md-0 mb-4">
          <div
            class="icon bg-color-3 d-flex justify-content-center align-items-center mb-2"
          >
            <span class="flaticon-award"></span>
          </div>
          <div class="media-body">
            <h3 class="heading">Superior Quality</h3>
            <span>Quality Products</span>
          </div>
        </div>
      </div>
      <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services mb-md-0 mb-4">
          <div
            class="icon bg-color-4 d-flex justify-content-center align-items-center mb-2"
          >
            <span class="flaticon-customer-service"></span>
          </div>
          <div class="media-body">
            <h3 class="heading">Support</h3>
            <span>24/7 Support</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-category ftco-no-pt">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6 order-md-last align-items-stretch d-flex">
            <div
              class="category-wrap-2 ftco-animate img align-self-stretch d-flex"
              style="
                background-image: url({% static 'images/Africanvendor.jpg' %});
              "
            >
              <div class="text text-center">
                <h2>Shop Everything</h2>
                <p>Get the best from the best</p>
                <p><a href="#" class="btn btn-primary">Shop now</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div
              class="category-wrap ftco-animate img mb-4 d-flex align-items-end"
              style="background-image: url({% static 'images/shoe rack.webp' %})"
            >
              <div class="text px-3 py-1">
                <h2 class="mb-0"><a href="#">Household Items</a></h2>
              </div>
            </div>
            <div
              class="category-wrap ftco-animate img d-flex align-items-end"
              style="
                background-image: url({% static 'images/Sayona woofers image.webp' %});
              "
            >
              <div class="text px-3 py-1">
                <h2 class="mb-0"><a href="#">Sound Systems</a></h2>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div
          class="category-wrap ftco-animate img mb-4 d-flex align-items-end"
          style="background-image: url({% static 'images/samsung phone.jpg' %})"
        >
          <div class="text px-3 py-1">
            <h2 class="mb-0"><a href="#">Phones</a></h2>
          </div>
        </div>
        <div
          class="category-wrap ftco-animate img d-flex align-items-end"
          style="background-image: url({% static 'images/kenyan watch.jpg' %})"
        >
          <div class="text px-3 py-1">
            <h2 class="mb-0"><a href="#">Watches</a></h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-3 pb-3">
      <div class="col-md-12 heading-section text-center ftco-animate">
        <span class="subheading">Featured Products</span>
        <h2 class="mb-4">Our Products</h2>
        <p>Here you will get all the products available in our store</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      {% if products %} {% for product in products %}
      <div class="col-md-6 col-lg-3 ftco-animate">
        <div class="product">
          <a href="{% url 'product-details' product.id %}" class="img-prod"
            ><img
              class="img-fluid"
              src="{{ product.photo.url }}"
              alt="Colorlib Template"
            />
            <div class="overlay"></div>
          </a>
          <div class="text py-3 pb-4 px-3 text-center">
            <h3>
              <a href="{% url 'product-details' product.id %}"
                >{{ product.name }}</a
              >
            </h3>
            <div class="d-flex">
              <div class="pricing">
                <p class="price">
                  <span class="price-sale">${{ product.price }}</span>
                </p>
              </div>
            </div>
            <div class="bottom-area d-flex px-3">
              <div class="m-auto d-flex">
                <a
                  href="#"
                  class="add-to-cart d-flex justify-content-center align-items-center text-center"
                >
                  <span><i class="ion-ios-menu"></i></span>
                </a>
                <a
                  href="{% url 'cart' %}"
                  class="buy-now d-flex justify-content-center align-items-center mx-1"
                >
                  <span><i class="ion-ios-cart"></i></span>
                </a>
                <a
                  href="#"
                  class="heart d-flex justify-content-center align-items-center"
                >
                  <span><i class="ion-ios-heart"></i></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %} {% else %}
      <h2 style="margin: auto">Sorry! There is no Products Available!</h2>
      {% endif %}
    </div>
  </div>
</section>

<section class="ftco-section testimony-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section ftco-animate text-center">
        <span class="subheading">Testimony</span>
        <h2 class="mb-4">Our satisfied customer says</h2>
        <p>These are some of the Reviews made by our customers</p>
      </div>
    </div>
    <div class="row ftco-animate">
      <div class="col-md-12">
        <div class="carousel-testimony owl-carousel">
          <div class="item">
            <div class="testimony-wrap p-4 pb-5">
              <div
                class="user-img mb-5"
                style="background-image: url({% static 'images/person1.jpg' %})"
              >
                <span
                  class="quote d-flex align-items-center justify-content-center"
                >
                  <i class="icon-quote-left"></i>
                </span>
              </div>
              <div class="text text-center">
                <p class="mb-5 pl-4 line">
                  Campus Shoppy has changes completely the way that we carry out
                  our online shopping here in Maseno University
                </p>
                <p class="name">Joshua Mwangari</p>
                <span class="position">Shop Owner</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap p-4 pb-5">
              <div
                class="user-img mb-5"
                style="background-image: url({% static 'images/person2.jpg' %})"
              >
                <span
                  class="quote d-flex align-items-center justify-content-center"
                >
                  <i class="icon-quote-left"></i>
                </span>
              </div>
              <div class="text text-center">
                <p class="mb-5 pl-4 line">
                  I nowadays don't struggle or think of how i am going to make
                  orders online. Campus Shoppy imenisort!
                </p>
                <p class="name">Brenda Atieno</p>
                <span class="position">customer</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap p-4 pb-5">
              <div
                class="user-img mb-5"
                style="background-image: url({% static 'images/person1.jpg' %})"
              >
                <span
                  class="quote d-flex align-items-center justify-content-center"
                >
                  <i class="icon-quote-left"></i>
                </span>
              </div>
              <div class="text text-center">
                <p class="mb-5 pl-4 line">
                  Before Canpus Shoppy we had a hard time because we had to
                  order all of the items from Kisumu and wait until they are
                  delivered by a Matatu
                </p>
                <p class="name">Morris Ojwang</p>
                <span class="position">Maseno Business Owner</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap p-4 pb-5">
              <div
                class="user-img mb-5"
                style="background-image: url({% static 'images/person1.jpg' %})"
              >
                <span
                  class="quote d-flex align-items-center justify-content-center"
                >
                  <i class="icon-quote-left"></i>
                </span>
              </div>
              <div class="text text-center">
                <p class="mb-5 pl-4 line">
                  We are actually happy as a School finding the creativity from
                  our own students
                </p>
                <p class="name">Solomon Nyabundi</p>
                <span class="position">Faculty Member</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap p-4 pb-5">
              <div
                class="user-img mb-5"
                style="background-image: url({% static 'images/person2.jpg' %})"
              >
                <span
                  class="quote d-flex align-items-center justify-content-center"
                >
                  <i class="icon-quote-left"></i>
                </span>
              </div>
              <div class="text text-center">
                <p class="mb-5 pl-4 line">
                  It is actually an inspiration to the other students from our
                  campus and we appreciate Campus Shoppy for the good work they
                  are doing.
                </p>
                <p class="name">Joyce Lilian</p>
                <span class="position">Faculty Member</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<hr />
<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
  <div class="container py-4">
    <div class="row d-flex justify-content-center py-5">
      <div class="col-md-6">
        <h2 style="font-size: 22px" class="mb-0">Subcribe to our Newsletter</h2>
        <span
          >Get e-mail updates about our latest shops and special offers</span
        >
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <form class="subscribe-form" method="POST">
          <div class="form-group d-flex">
            {% csrf_token %} {{ forms.email }}
            <input type="submit" value="Subscribe" class="submit px-3" />
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
